<footer class="site-footer">
  <div class="site-footer__wrapper">
    <div class="site-title">
      <span class="site-title__icon"> {%- include svg/logo.svg -%} </span>
      <span class="site-title__text"> {{ site.title }} </span>
    </div>

    <ul class="site-footer__social flex">
      <li class="site-footer__social-item">
        <a
          href="https://instagram.com/{{site.instagram}}"
          target="_blank"
          class="icon"
        >
          {%- include svg/instagram.svg -%}
          <span> {{ site.instagram }} </span>
        </a>
      </li>
      <li class="site-footer__social-item">
        <a href="tel:+{{site.phone.number}}" class="icon" target="_blank">
          {%- include svg/phone.svg -%}
          <span> {{ site.phone.label }} </span>
        </a>
      </li>
      <li class="site-footer__social-item">
        <a
          href="https://wa.me/{{site.whatsapp.number}}"
          class="icon"
          target="_blank"
        >
          {%- include svg/whatsapp.svg -%}
          <span> {{ site.whatsapp.label }} </span>
        </a>
      </li>
    </ul>

    <div class="site-footer__payments">
      {%- for item in site.data.payments -%}
      <div class="site-footer__payments-item">
        <img
          src="{{ item.img.src }}"
          alt="{{ item.img.alt }}"
          class="site-footer__payments-image {{ item.name }}"
          height="36"
        />
      </div>
      {%- endfor -%}
    </div>
  </div>
</footer>

<div class="widget-container">
  <div class="widget-wrapper">
    <a
      href="https://wa.me/{{site.whatsapp.number}}"
      class="icon-button--whatsapp"
      target="_blank"
    >
      {%- include svg/whatsapp.svg -%}
    </a>
  </div>
</div>
