
<section class="section section-contato" id="contato">
  <div class="wrapper">
    <h2>Fale conosco</h2>

    <div class="horizontal">
      <div class="flex">
        <p>
          <strong>Instagram:</strong>
          <a href="https://instagram.com/{{site.instagram}}" target="_blank"
            >@mhs.airgroup</a
          >
        </p>
        <p>
          <strong>WhatsApp:</strong>
          <a href="https://wa.me/{{site.whatsapp.number}}" target="_blank"
            >{{site.whatsapp.label}}</a
          >
        </p>
        <p>
          <strong>Telefone:</strong>
          <a href="tel:+{{site.phone.number}}">{{site.phone.label}}</a>
        </p>
      </div>

      <form action="" method="post" class="flex">
        <p>
          <label for="nome">Nome</label>
          <input
            type="text"
            name="nome"
            placeholder="Informe seu nome"
            required
          />
        </p>
        <p>
          <label for="email">E-mail</label>
          <input
            type="email"
            name="email"
            placeholder="seuemail@dominio.com"
            required
          />
        </p>
        <p>
          <label for="assunto">Assunto</label>
          <input
            type="text"
            name="assunto"
            placeholder="Solicitação/orçamento/dúvida/etc"
            required
          />
        </p>
        <p>
          <label for="mensagem">Mensagem</label>
          <textarea
            name="mensagem"
            cols="30"
            rows="5"
            placeholder="Deixe sua mensagem..."
          ></textarea>
        </p>
        <p class="honeypot">
          <label for="honeypot"
            >Se estiver vendo isto, deixe este campo vazio:
          </label>
          <input type="text" name="honeypot" />
        </p>
        <p>
          <button type="submit">Enviar</button>
        </p>
      </form>
    </div>
  </div>
</section>

<footer class="site-footer">
  <div class="wrapper">
  </div>
</footer>

<div class="fixed right bottom m-1">
  <a href="https://wa.me/{{site.whatsapp.number}}" class="btn-whatsapp" target="_blank">
    {%- include svg/whatsapp.svg -%}
  </a>
</div>
