<div class="map-container">
  <div class="map-container__wrapper">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3659.010249923308!2d-47.4563779!3d-23.4961403!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c58aa458014e6d%3A0xad0951d23598574a!2sR.%20Dr.%20Azevedo%20Sampaio%2C%20167%20-%20Centro%2C%20Sorocaba%20-%20SP%2C%2018010-220!5e0!3m2!1spt-BR!2sbr!4v1746283283988!5m2!1spt-BR!2sbr"
      width="100%"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>

    <p class="map-address">
      <span class="icon">{%- include svg/location-pin.svg -%}</span>
      <span>
        Rua Dr. Azevedo Sampaio, 167 - Centro, Sorocaba - SP, 18010-220
      </span>
    </p>
  </div>
</div>
