%form-control {
  padding: 1em;
  font: inherit;
  color: inherit;
  border: 1px solid;
  background-color: $background-color;
  border-radius: 6px;
  outline: none;
  position: relative;

  &,
  &:before,
  &:after {
    @extend %transition;
  }
}

fieldset {
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-before: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
  -webkit-padding-after: 0;
  padding: 0 0 $spacing-unit;
  border: none;
}

label {
  display: inline-block;
  width: 10em;
  font-size: 0.75em;
  text-transform: uppercase;
  line-height: 1;
}

input,
textarea,
select {
  @extend %form-control;
  width: 100%;
  border-color: $gray-500;

  &:focus {
    border-color: $active-color;
    box-shadow: 0 0 10px rgba($active-color, 0.3);
  }
}

input {
  &[type='radio'],
  &[type='checkbox'] {
    width: initial;
  }
}

button, .btn {
  @extend %form-control;
  padding-left: 2em;
  padding-right: 2em;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: $base-line-height;
  color: white;
  border: 0 none;
  border-radius: 9em;
  background-color: $brand-color;

  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    color: white;
    text-decoration: none;
    background-color: $active-color;
    box-shadow: 0 0 15px $active-color;
  }

  &:focus,
  &:active {
    transition-duration: 0.1s;
    box-shadow: 0 0 15px $active-color;
  }
}

::-webkit-input-placeholder {
  color: $gray-500;
  opacity: 1;
}
\:-moz-placeholder {
  color: $gray-500;
  opacity: 1;
}
::-moz-placeholder {
  color: $gray-500;
  opacity: 1;
}
\:-ms-input-placeholder {
  color: $gray-500;
  opacity: 1;
}
\:focus::-webkit-input-placeholder {
  -webkit-transition: opacity 0.5s 0.5s ease-in-out;
  transition: opacity 0.5s 0.5s ease-in-out;
  opacity: 0;
}

.honeypot {
  display: none;
}
