.section {
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;

  @include media-greater($on-laptop) {
    padding-top: $spacing-unit * 4;
    padding-bottom: $spacing-unit * 4;
  }

  &-hero {
    @extend .section;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      background: linear-gradient(to right bottom, transparent 50%, $gray-600);
    }

    position: relative;
    background: url('/assets/img/ar-condicionado-preto.png') no-repeat 90% 90%;
    background-size: 40% auto;

    @include media-greater($on-laptop) {
      background-position: 450px 50%;
      background-size: auto 360px;
    }

    @include media-greater($content-width) {
      background-position: calc(
          (100% - #{$content-width}) / 2 + #{$content-width * 0.75}
        )
        50%;
    }

    &__title {
      @include media-greater($on-palm) {
        font-size: 3.4rem;
      }
    }

    &__headline {
      @include media-greater($on-palm) {
        font-size: 2rem;
      }
    }

    &__brands {
      @extend .horizontal;
      gap: $spacing-unit / 2;
      justify-content: start;
      flex-wrap: wrap;
      max-width: $content-width * 0.25;

      margin-top: $spacing-unit;
      margin-bottom: $spacing-unit;

      img {
        height: 30px;
        opacity: 0.5;

        &:hover {
          opacity: 1;
        }
      }

      .daikin {
        height: 20px;
      }
    }

    &__cta {
      margin-top: $spacing-unit * 2;
    }
  }

  &-servicos {
    @extend .section;
    background: radial-gradient(
      $gray-300 0%,
      transparent 70%
    );

    &__header {
      @extend .wrapper;
    }

    &__grid {
      @extend .wrapper--lg, .horizontal;
      gap: $spacing-unit / 2;
      margin-top: $spacing-unit;
      margin-bottom: $spacing-unit;
      justify-content: center;
      flex-wrap: wrap;

      @include media-greater($on-laptop) {
        gap: $spacing-unit;
      }
    }

    &__item,
    &__img,
    &__title,
    &__headline {
      transition: .3s ease-in-out;
      transform: scale(1);
    }

    &__item {
      @extend .vertical;
      gap: $spacing-unit / 2;
      align-items: center;
      text-align: center;
      width: clamp(300px, 30%, 400px);
      padding: $spacing-unit / 2;
      background-color: $background-color;
      border: 1px solid $gray-300;
      border-radius: 16px;

      &:hover {
        transform: scale(1.05);
        box-shadow: 0 0 10px rgba($gray-900, 0.2);

        .section-servicos__img {
          opacity: 1;
        }
        .section-servicos__title {
          color: $gray-900;
        }
        .section-servicos__headline {
          color: $gray-900;
        }
      }
    }

    &__img {
      opacity: 0.5;
    }

    &__title {
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 1.2;
      color: $gray-800;
    }

    &__headline {
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.2;
      color: $gray-600;
    }
  }

  &-sobre-nos {
    @extend .section;
  }

  &-clientes {
    @extend .page-content;
    background-color: $gray-300;

    &__grid {
      @extend .horizontal;
      gap: $spacing-unit;
      justify-content: space-evenly;

      margin-top: $spacing-unit;
      margin-bottom: $spacing-unit;

      @include media-query($on-laptop) {
        flex-wrap: wrap;
      }

      img {
        height: 80px;
      }
    }
  }
}
