.section {
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;

  &-hero {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      background: $blue-100;
    }

    background: url('/assets/img/ar-condicionado-preto.png') no-repeat 110% #{-$spacing-unit};
    background-size: 70% auto;

    @include media-greater($on-laptop) {
      background-position-x: 115%;
      background-size: 50% auto;
    }

    @include media-greater(1600px) {
      background-position-x: calc((100% - #{$content-width}) / 2 + #{$content-width * 0.9});
      background-size: auto 90%;
    }

    &__title {
      font-size: 3.4rem;
    }

    &__headline {
      font-size: 2rem;
    }

    &__cta {
      margin-top: $spacing-unit * 2;
    }
  }

  &-servicos {
    background-color: white;

    &__item {
      padding: $spacing-unit;
      border: 1px solid $grey-300;
      border-radius: 16px;
    }
  }

  &-sobre-nos {
    background-color: $grey-100;
  }

  &-contato {
    background-color: white;
  }
}
