.site-header {
  height: $header-height;
}

.site-title {
  display: flex;
  align-items: center;
  gap: 0.75em;
  float: left;
  height: $header-height;
  padding-right: $spacing-unit / 4;
  color: black;

  &__icon {
    @extend .icon;

    svg {
      display: block;
      width: auto;
      height: $header-height - $header-threshold;
      transition: 0.5s ease-in-out;
      transform-origin: top left;
    }
  }

  &__text {
    font-size: 1.5em;
    line-height: 1;
    text-transform: uppercase;
    font-family: $base-font-family;
  }
}

.site-nav {
  float: right;
  line-height: $header-height;

  .page-link {
    padding: 0 2em;
    font-size: #{$small-font-size};
    font-weight: 600;
    line-height: #{$header-height - $header-threshold};
    letter-spacing: 1px;
    border-radius: 0;

    &:not(.btn) {
      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
        outline: none;
        color: black;
        background-color: $gray-300;
      }
    }

    @include media-greater($menu-breakpoint) {
      display: inline-block;
      border-radius: 9em;
    }
  }

  .menu-icon {
    display: none;
  }

  .trigger {
    @extend %transition;
  }

  @include media-query($menu-breakpoint) {
    .menu-icon {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      position: absolute;
      top: 0;
      right: 0;
      height: $header-height;
      border-radius: 0;

      &:hover,
      &:focus,
      &:active {
        box-shadow: none;
        outline: none;
      }

      span {
        width: 26px;
        height: 4px;
        display: block;
        background-color: currentcolor;
      }
    }

    .page-link {
      padding: 0.25em $spacing-unit;
      display: block;
      opacity: 0;
    }

    .trigger {
      position: absolute;
      top: $header-height;
      right: 0;
      text-align: center;
      background-color: white;
      box-shadow: -5px 5px 10px -5px rgba(#000, 0.1);
      transform-origin: top right;
      transform: scale(0);
      opacity: 0;
    }

    &:hover,
    &:focus,
    &:focus-within {
      .page-link {
        opacity: 1;
      }

      .trigger {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
}

.site-footer {
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;

  .footer-heading {
    font-size: 1.2em;

    ul {
      margin: 0;
      list-style: none;
    }
  }
}
