* {
  box-sizing: border-box;
}

[hidden] {
  display: none !important;
}

[disabled] {
  pointer-events: none;
  opacity: 0.3;
}

.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &--laptop {
    @extend .horizontal;
    @include media-query($on-palm) {
      flex-direction: column;
    }
  }

  &--desktop {
    @extend .horizontal;
    @include media-query($on-laptop) {
      flex-direction: column;
    }
  }
}

@for $i from 1 through 5 {
  .gap-#{$i} {
    gap: ($spacing-unit / 2) * $i;
  }
}

.vertical {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.flex {
  flex: 1;
}

html {
  --spacing-xs: 8px;
  --spacing: 24px;
  --spacing-s: 12px;
  --spacing-m: 36px;
}
