.section {
  &-hero {
    padding-top: $header-height;
    padding-bottom: $header-height;
  }

  &-servicos {
    padding-top: $header-height;
    padding-bottom: $header-height;
  }

  &-sobre-nos {
    padding-top: $header-height;
    padding-bottom: $header-height;
  }

  &-porque-escolher {
    padding-top: $header-height;
    padding-bottom: $header-height;
  }

  &-principais-clientes {
    padding-top: $header-height;
    padding-bottom: $header-height;
  }

  &-contato {
    padding-top: $header-height;
    padding-bottom: $header-height;
  }
}
